<!DOCTYPE html>
<html>
<head>
	<title>404</title>
<#include "base.html">
<!--banner-->
	<script>
		window.onload = function initialize() {
			getUserName();
		}
	</script>
<div class="banner-top">
	<div class="container">
		<h1>404</h1>
		<em></em>
	</div>
</div>
<!--login-->
	<div class="container">
		<div class="four">
		<h3>404</h3>
		<p>找不到该页面</p>
		<a href="index" class="hvr-skew-backward">Back To Home</a>
		</div>
	</div>
<!--//login-->

			<!--brand-->
	<!--//content-->
		<!--//footer-->
	<div class="footer">
		<div class="footer-middle">
			<div class="container">
				<div class="col-md-3 footer-middle-in">
					<a href="index"><img src="../static/images/log.png" alt=""></a>
				</div>

				<div class="col-md-3 footer-middle-in">
					<h6>INFOMATION</h6>
					<ul class=" in">
						<li><a href="contact">联系我们</a></li>
						<li><a href="#">回到顶部</a></li>
						<li><a href="404">网站地图</a></li>
					</ul>
					<ul class="in in1">
						<li><a href="wishlist">心愿单</a></li>
						<li><a href="login">登录</a></li>
						<li><a href="register">注册</a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 footer-middle-in">
					<h6>LINK</h6>
					<ul class="tag-in">
						<li><a href="https://channel.jd.com/1713-3258.html" target="_blank">京东</a></li>
						<li><a href="http://book.dangdang.com/" target="_blank">当当</a></li>
						<li><a href="https://book.tmall.com/" target="_blank">天猫图书</a></li>
						<li><a href="https://www.amazon.cn/%E5%9B%BE%E4%B9%A6/b/ref=topnav_storetab_b?ie=UTF8&node=658390051" target="_blank">亚马逊</a></li>
						<li><a href="http://www.bookschina.com/" target="_blank">中国图书网</a></li>
						<li><a href="https://www.xhsd.com/" target="_blank">新华书店</a></li>
						<li><a href="http://www.zju.edu.cn/" target="_blank">浙江大学</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-middle-in">
					<h6>Newsletter</h6>
					<span>Sign up for News Letter</span>
					<form>
						<input type="text" value="Enter your E-mail" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Enter your E-mail';}">
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
		<!--//footer-->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

	<script src="../static/js/simpleCart.min.js"> </script>
<!-- slide -->
<script src="../static/js/bootstrap.min.js"></script>
 
</body>
</html>