<!DOCTYPE html>
<html>
<head>
    <title>我的旧书</title>
    <#include "base.html">
    <script>
        window.onload = function initialize() {
            getUserName();
        }
    </script>
    <!--banner-->
    <div class="banner-top">
        <div class="container">
            <h1>Checkout</h1>
            <em></em>
        </div>
    </div>
    <!--login-->
    <script>$(document).ready(function(c) {
        $('.close1').on('click', function(c){
            $('.cart-header').fadeOut('slow', function(c){
                $('.cart-header').remove();
            });
        });
    });
    </script>
    <script>$(document).ready(function(c) {
        $('.close2').on('click', function(c){
            $('.cart-header1').fadeOut('slow', function(c){
                $('.cart-header1').remove();
            });
        });
    });
    </script>
    <script>$(document).ready(function(c) {
        $('.close3').on('click', function(c){
            $('.cart-header2').fadeOut('slow', function(c){
                $('.cart-header2').remove();
            });
        });
    });
    </script>
    <div class="container">
        <div class="check-out">
            <div class="bs-example4" data-example-id="simple-responsive-table">
                <div class="table-responsive">
                    <table class="table-heading simpleCart_shelfItem">
                        <tr>
                            <th class="table-grid">书籍</th>
                            <th>ID</th>
                            <th>价格</th>
                            <th>配送方式</th>
<!--                            <th>类别</th>-->
                        </tr>
                        <tr class="cart-header">

                            <td class="ring-in">
                                <a href="single" class="at-in">
                                    <img src="../static/images/ch.jpg" class="img-responsive" alt="">
                                </a>
                                <div class="sed">
                                    <h5><a href="single">Sed ut perspiciatis unde</a></h5>
                                    <p>(At vero eos et accusamus et iusto odio dignissimos ducimus ) </p>

                                </div>
                                <div class="clearfix"> </div>
                            </td>
                            <td>$100.00</td>
                            <td>FREE SHIPPING</td>
                            <td class="item_price">$100.00</td>
                            <td class="add-check"><a class="item_add hvr-skew-backward" href="#">编辑</a></td>
                            <td class="add-check"><a class="item_add hvr-skew-backward" href="#">删除</a></td>
                        </tr>
                        <tr class="cart-header1">
                            <td class="ring-in">
                                <a href="single" class="at-in">
                                    <img src="../static/images/ch2.jpg" class="img-responsive" alt="">
                                </a>
                                <div class="sed">
                                    <h5><a href="single">Sed ut perspiciatis unde</a></h5>
                                    <p>(At vero eos et accusamus et iusto odio dignissimos ducimus ) </p>
                                </div>
                                <div class="clearfix"> </div>
                            </td>
                            <td>$100.00</td>
                            <td>FREE SHIPPING</td>
                            <td class="item_price">$100.00</td>
                            <td class="add-check"><a class="item_add hvr-skew-backward" href="#">Add To Cart</a></td>
                        </tr>
                        <tr class="cart-header2">
                            <td class="ring-in">
                                <a href="single" class="at-in">
                                    <img src="../static/images/ch1.jpg" class="img-responsive" alt="">
                                </a>
                                <div class="sed">
                                    <h5><a href="single">Sed ut perspiciatis unde</a></h5>
                                    <p>(At vero eos et accusamus et iusto odio dignissimos ducimus ) </p>
                                </div>
                                <div class="clearfix"> </div>
                            </td>
                            <td>$100.00</td>
                            <td>FREE SHIPPING</td>
                            <td class="item_price">$100.00</td>
                            <td class="add-check"><a class="item_add hvr-skew-backward" href="#">Add To Cart</a></td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="produced">
                <a href="single" class="hvr-skew-backward">Produced To Buy</a>
            </div>
        </div>
    </div>

    <!--//login-->
    <!--brand-->
    <div class="container">
        <div class="brand"/>
    </div>
    <!--//brand-->
    </div>

    </div>
    <!--//content-->
    <!--//footer-->
    <div class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="col-md-3 footer-middle-in">
                    <a href="index"><img src="../static/images/log.png" alt=""></a>
                </div>

                <div class="col-md-3 footer-middle-in">
                    <h6>INFOMATION</h6>
                    <ul class=" in">
                        <li><a href="contact">联系我们</a></li>
                        <li><a href="#">回到顶部</a></li>
                        <li><a href="404">网站地图</a></li>
                    </ul>
                    <ul class="in in1">
                        <li><a href="wishlist">心愿单</a></li>
                        <li><a href="login">登录</a></li>
                        <li><a href="register">注册</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3 footer-middle-in">
                    <h6>LINK</h6>
                    <ul class="tag-in">
                        <li><a href="https://channel.jd.com/1713-3258.html" target="_blank">京东</a></li>
                        <li><a href="http://book.dangdang.com/" target="_blank">当当</a></li>
                        <li><a href="https://book.tmall.com/" target="_blank">天猫图书</a></li>
                        <li><a href="https://www.amazon.cn/%E5%9B%BE%E4%B9%A6/b/ref=topnav_storetab_b?ie=UTF8&node=658390051" target="_blank">亚马逊</a></li>
                        <li><a href="http://www.bookschina.com/" target="_blank">中国图书网</a></li>
                        <li><a href="https://www.xhsd.com/" target="_blank">新华书店</a></li>
                        <li><a href="http://www.zju.edu.cn/" target="_blank">浙江大学</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-middle-in">
                    <h6>Newsletter</h6>
                    <span>Sign up for News Letter</span>
                    <form>
                        <input type="text" value="Enter your E-mail" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Enter your E-mail';}">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//footer-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="../static/js/simpleCart.min.js"> </script>
    <!-- slide -->
    <script src="../static/js/bootstrap.min.js"></script>

    </body>
</html>