<!DOCTYPE html>
<html>
<head>
	<title>书城</title>
<#include "base.html">
	<script>
		window.onload = function initialize() {
			getUserName();
		}
	</script>
<!--banner-->
	<style>
		.h6_hidden {
			text-overflow:ellipsis;
			white-space:nowrap;
			overflow:hidden;
			width: 100%;
		}
	</style>
<div class="banner-top">
	<div class="container">
		<h1>${catalogName}</h1>
		<em></em>
	</div>
</div>
	<!--content-->
		<div class="product">
			<div class="container">
			<div class="col-md-9">
				${data}
			</div>
			<div class="col-md-3 product-bottom">
			<!--categories-->
				<div class=" rsidebar span_1_of_left">
						<h4 class="cate">类别</h4>
							 <ul class="menu-drop" id="menu-target">
<!--							<li>-->
<!--								<a href="#">Men </a>-->
<!--								<ul class="cute">-->
<!--									<li class="subitem1"><a href="product">Cute Kittens </a></li>-->
<!--									<li class="subitem2"><a href="product">Strange Stuff </a></li>-->
<!--									<li class="subitem3"><a href="product">Automatic Fails </a></li>-->
<!--								</ul>-->
<!--							</li>-->
						</ul>
					</div>
				<!--initiate accordion-->
						<script type="text/javascript">

							fetch('/api/item/catalog/all', {
								method: 'GET',
							}).then(res=>{
								return res.json()
							}).then(res=>{
								console.log(res);
								if(res.code == 200) {
									var target = document.getElementById("menu-target");
									var list = res.data.catalogs;

									for(var i in list) {
										var li = document.createElement("li");
										var a = document.createElement("a");
										a.innerHTML = list[i].name;
										li.appendChild(a);
										var ul = document.createElement("ul");
										ul.className = "cute";
										var list2 = list[i].children;

										var li3 = document.createElement('li');
										var a3 = document.createElement('a');
										a3.innerHTML = '全部';
										a3.href = '/product?catalog_id=' + list[i].id;
										li3.appendChild(a3);
										ul.appendChild(li3);

										for(var j in list2) {
											var li2 = document.createElement('li');
											var a2 = document.createElement('a');
											a2.innerHTML = list2[j].name;
											a2.href = '/product?catalog_id=' + list2[j].id;
											li2.appendChild(a2);
											ul.appendChild(li2);
										}

										li.appendChild(ul);
										target.appendChild(li);
									}
								}
							}).then(res=> {
								var menu_ul = $('.menu-drop > li > ul'),
										menu_a  = $('.menu-drop > li > a');
								menu_ul.hide();
								menu_a.click(function(e) {
									e.preventDefault();
									if(!$(this).hasClass('active')) {
										menu_a.removeClass('active');
										menu_ul.filter(':visible').slideUp('normal');
										$(this).addClass('active').next().stop(true,true).slideDown('normal');
									} else {
										$(this).removeClass('active');
										$(this).next().stop(true,true).slideUp('normal');
									}
								});

							});


							// $(function() {
							//
							// });
						</script>
<!--//menu-->

			</div>
				<div class="clearfix"></div>
		</div>
				<!--products-->
			
			<!--//products-->
		<div class="center">
			<ul class="pagination">
				<li><a href="${firstUrl}">««</a></li>
				<li><a href="${lastUrl}">上一页</a></li>
				<li><a href="${nextUrl}">下一页</a></li>
				<li><a href="${endUrl}">»»</a></li>
			</ul>
		</div>
		<!--brand-->
		<div class="container">
			<div class="brand">

				<div class="clearfix"></div>
			</div>
			</div>
			<!--//brand-->
			</div>
			
		</div>
	<!--//content-->
		<!--//footer-->
	<div class="footer">
		<div class="footer-middle">
			<div class="container">
				<div class="col-md-3 footer-middle-in">
					<a href="index"><img src="../static/images/log.png" alt=""></a>
				</div>

				<div class="col-md-3 footer-middle-in">
					<h6>INFOMATION</h6>
					<ul class=" in">
						<li><a href="contact">联系我们</a></li>
						<li><a href="#">回到顶部</a></li>
						<li><a href="404">网站地图</a></li>
					</ul>
					<ul class="in in1">
						<li><a href="wishlist">心愿单</a></li>
						<li><a href="login">登录</a></li>
						<li><a href="register">注册</a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 footer-middle-in">
					<h6>LINK</h6>
					<ul class="tag-in">
						<li><a href="https://channel.jd.com/1713-3258.html" target="_blank">京东</a></li>
						<li><a href="http://book.dangdang.com/" target="_blank">当当</a></li>
						<li><a href="https://book.tmall.com/" target="_blank">天猫图书</a></li>
						<li><a href="https://www.amazon.cn/%E5%9B%BE%E4%B9%A6/b/ref=topnav_storetab_b?ie=UTF8&node=658390051" target="_blank">亚马逊</a></li>
						<li><a href="http://www.bookschina.com/" target="_blank">中国图书网</a></li>
						<li><a href="https://www.xhsd.com/" target="_blank">新华书店</a></li>
						<li><a href="http://www.zju.edu.cn/" target="_blank">浙江大学</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-middle-in">
					<h6>Newsletter</h6>
					<span>Sign up for News Letter</span>
					<form>
						<input type="text" value="Enter your E-mail" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Enter your E-mail';}">
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
		<!--//footer-->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

	<script src="../static/js/simpleCart.min.js"> </script>
<!-- slide -->
<script src="../static/js/bootstrap.min.js"></script>
 <!--light-box-files -->
		<script src="../static/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="../static/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('a.picture').Chocolat();
		});
		</script>
</body>
</html>