<!DOCTYPE html>
<html>
<head>
	<title>${title}</title>
	<#include "base.html">
	<script>
		window.onload = function initialize() {
			getUserName();
		}

		function notifyVarMsg(msg, type, icon) {
			var notify = $.notify({
				// options
				icon: icon,
				title: '',
				message: msg,
				target: '_blank'
			}, {
				// settings
				element: 'body',
				position: null,
				type: type,
				allow_dismiss: true,
				newest_on_top: true,
				showProgressbar: false,
				placement: {
					from: "top",
					align: "right"
				},
				animate: {
					enter: 'animated fadeInDown',
					exit: 'animated fadeOutUp'
				},
				offset: 20,
				spacing: 10,
				z_index: 1031,
				delay: 5000,
				timer: 1000,
				url_target: '_blank'
			});
			return notify;
		}

		function buyBook() {
			var itemId = "${itemId?js_string}"
			var price = "${price?js_string}"
			let deliveryType = $("#deliveryType").val()
			let address = $("#address").val()

			fetch('/api/order/buyBook', {
				method: 'POST',
				headers: {
					'Access-Control-Allow-Origin': '*',
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					itemId: itemId,
					payment: price,
					deliveryType: deliveryType,
					address: address
				})
			}).then(res=>{
				return res.json()
			}).then(res=>{
				if(res.code == 200) {
					document.getElementById("modal_close_btn").click()
					notifyVarMsg("购买成功","success",'glyphicon glyphicon-ok')
					setTimeout("window.location = \'/checkout\'",1500)
				} else {
					notifyVarMsg(res.data.msg,"danger",'glyphicon glyphicon-warning-sign')
				}
			})

			return false;

		}
	</script>
<!--banner-->
<div class="banner-top">
	<div class="container">
		<h1>详情</h1>
		<em></em>
	</div>
</div>
<div class="single">

<div class="container">
<div class="col-md-11">
	<div class="col-md-4 grid">
		<div class="flexslider">
			  <ul class="slides">
			    <li data-thumb="${cover}">
			        <div class="thumb-image"> <img src="${cover}" data-imagezoom="true" class="img-responsive"> </div>
			    </li>
			  </ul>
		</div>
	</div>	
<div class="col-md-8 single-top-in">
						<div class="span_2_of_a1 simpleCart_shelfItem">
				<h3>${title}</h3>
				<p class="in-para">${authorAndPress}</p>
			    <div class="price_single">
				  <span class="reducedfrom item_price">${price}</span>
				 <a>${deliveryType}</a>
				 <div class="clearfix"></div>
				</div>
				<h4 class="quick">摘要</h4>
				<p class="quick_desc">${brief}</p>
<!--			    <div class="wish-list">-->
<!--				 	<ul>-->
<!--				 		<li class="wish"><a href="#"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>Add to Wishlist</a></li>-->
<!--				 	</ul>-->
<!--				 </div>-->
<!--				 <div class="quantity"> -->
<!--								<div class="quantity-select">                           -->
<!--									<div class="entry value-minus">&nbsp;</div>-->
<!--									<div class="entry value"><span>1</span></div>-->
<!--									<div class="entry value-plus active">&nbsp;</div>-->
<!--								</div>-->
<!--							</div>-->
							<!--quantity-->
	<script>
    $('.value-plus').on('click', function(){
    	var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
    	divUpd.text(newVal);
    });

    $('.value-minus').on('click', function(){
    	var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
    	if(newVal>=1) divUpd.text(newVal);
    });
	</script>
			<a data-toggle="modal" data-target="#myModal" href="#" id="buyButton" class="add-to item_add hvr-skew-backward">购买</a>
			<a href="#" class="add-to item_add hvr-skew-backward" style="margin-right: 50px">联系卖家：${sellerName}</a>

			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<form onsubmit="return buyBook()" enctype="multipart/form-data">
							<div class="modal-body">
								<p>价格：${price}</p><br>
								<span>交易方式</span>
								<div class="login-mail">
									<select id="deliveryType" style="min-width: 30%">
										<option value="1">寄送</option>
										<option value="2">线下交易</option>
									</select>
								</div>
								<span>地址（若线下交易可不填）</span>
								<div class="login-mail" >
									<input type="text" placeholder="" id="address">
								</div>
								<script>
									fetch('/api/account/private/getAddress', {
										method: 'GET'
									}).then(res=>{
										return res.json();
									}).then(json=>{
										if(json.code == 200) {
											console.log(json);
											var address = document.getElementById("address");
											address.value = json.data.address;
										}
									})
								</script>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal" id="modal_close_btn">关闭</button>
								<button type="submit" class="btn btn-primary">确认购买</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="clearfix"> </div>
			</div>
		
					</div>
			<div class="clearfix"> </div>
			<!---->
			<div class="tab-head">
			 <nav class="nav-sidebar">
		<ul class="nav tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">内容介绍</a></li>
          <li class=""><a href="#tab2" data-toggle="tab">详细信息</a></li>
          <li class=""><a href="#tab3" data-toggle="tab">目录</a></li>
		</ul>
	</nav>
	<div class="tab-content one">
<div class="tab-pane active text-style" id="tab1">
 									<div class="facts">
									  <p style="color: #5e5e5e;white-space:pre-wrap">${introduction}</p>
							        </div>

</div>
<div class="tab-pane text-style" id="tab2">
	
									<div class="facts">									
										<p style="color: #5e5e5e;white-space:pre-wrap">${detail}</p>
							        </div>	

</div>
<div class="tab-pane text-style" id="tab3">

									 <div class="facts">
									  <p style="color: #5e5e5e;white-space:pre-wrap">${dictionary}</p>
							     </div>	

 </div>
  
  </div>
  <div class="clearfix"></div>
  </div>
			<!---->	
</div>
<!----->

		<div class="clearfix"> </div>
	</div>
	</div>
			<!--brand-->
		<div class="container">
			<div class="brand">
				<div class="clearfix"></div>
			</div>
			</div>
			<!--//brand-->
			</div>
			
		</div>
	<!--//content-->
		<!--//footer-->
	<div class="footer">
		<div class="footer-middle">
			<div class="container">
				<div class="col-md-3 footer-middle-in">
					<a href="index"><img src="../static/images/log.png" alt=""></a>
				</div>

				<div class="col-md-3 footer-middle-in">
					<h6>INFOMATION</h6>
					<ul class=" in">
						<li><a href="contact">联系我们</a></li>
						<li><a href="#">回到顶部</a></li>
						<li><a href="404">网站地图</a></li>
					</ul>
					<ul class="in in1">
						<li><a href="wishlist">心愿单</a></li>
						<li><a href="login">登录</a></li>
						<li><a href="register">注册</a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-3 footer-middle-in">
					<h6>LINK</h6>
					<ul class="tag-in">
						<li><a href="https://channel.jd.com/1713-3258.html" target="_blank">京东</a></li>
						<li><a href="http://book.dangdang.com/" target="_blank">当当</a></li>
						<li><a href="https://book.tmall.com/" target="_blank">天猫图书</a></li>
						<li><a href="https://www.amazon.cn/%E5%9B%BE%E4%B9%A6/b/ref=topnav_storetab_b?ie=UTF8&node=658390051" target="_blank">亚马逊</a></li>
						<li><a href="http://www.bookschina.com/" target="_blank">中国图书网</a></li>
						<li><a href="https://www.xhsd.com/" target="_blank">新华书店</a></li>
						<li><a href="http://www.zju.edu.cn/" target="_blank">浙江大学</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-middle-in">
					<h6>Newsletter</h6>
					<span>Sign up for News Letter</span>
					<form>
						<input type="text" value="Enter your E-mail" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Enter your E-mail';}">
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
		<!--//footer-->
<script src="../static/js/imagezoom.js"></script>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script defer src="../static/js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" />

<script>
// Can also be used with $(document).ready()
if("${deleted?js_string}" == 'true') {
	notifyVarMsg('该书籍已下架', 'info', 'glyphicon glyphicon-remove-circle')
	$("#buyButton").hide()
}

$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});

</script>

	<script src="../static/js/simpleCart.min.js"> </script>
<!-- slide -->
<script src="../static/js/bootstrap.min.js"></script>


</body>
</html>